<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="index.html">
                                <img src="images/logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="#">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Demo 1</a></li>
                                            <li><a href="index2.html">Demo 2</a></li>
                                            <li><a href="index3.html">Demo 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">About Me</a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">Demo 1</a></li>
                                            <li><a href="about-2.html">Demo 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Full Width</a></li>
                                            <li><a href="blog-2-column.html">2 Column</a></li>
                                            <li><a href="blog-3-column.html">3 Column</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="galleries.html">Galleries</a></li>
                                    <li><a href="other-features.html">Other Features</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <h2>登录——豆蔻年华 EIGHTEEN</h2>
                <!-- CONTACT FORM -->
                <form id="ajax-form" action="mailer.php" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <p>
                                <label>用户名</label><br />
                                <input type="text" name="sendername" id="sendername" class="form-control" required="required" maxlength="50" />
                            </p>
                            <p>
                                <label>密码</label><br />
                                <input type="password" name="password" id="senderemail" class="form-control" required="required" maxlength="50" />
                            </p>
                            <button id="sendbutton" type="submit" class="btn btn-lg w-100">登录注册</button>
                        </div>
                        <div class="col-12 col-lg-4">
                            <img src="uploads/2018/05/img2.jpg" alt="Jane Doe" class="img-fluid mx-auto d-block eskimo-img-shadow" />
                        </div>
                    </div>
                </form>
                <div id="form-messages"></div>
            </div>
        </main>
    </div>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- JS FILES -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/salvattore.min.js"></script>
    <script src="js/panel.js"></script>
    <script src="js/reading-position-indicator.js"></script>
    <script src="js/featherlight.js"></script>
    <script src="js/ajax-contact-form.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>