<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
    <!--summernote富文本编辑器-->
    <link href="/static/summernote/summernote-lite.css" rel="stylesheet">
</head>

<body>
<!-- READING POSITION INDICATOR -->
<progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
</progress>
<!-- SITE WRAPPER -->
<div id="eskimo-site-wrapper">
    <!-- MAIN CONTAINER -->
    <main id="eskimo-main-container">
        <div class="container">
            <!-- SIDEBAR -->
            <div id="eskimo-sidebar">
                <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                    <!-- LOGO -->
                    <div id="eskimo-logo-cell" class="w-100">
                        <a class="eskimo-logo-link" href="/index/Index/index">
                            <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo"/>
                        </a>
                    </div>
                    <!-- MENU CONTAINER -->
                    <div id="eskimo-sidebar-cell" class="w-100">
                        <!-- MOBILE MENU BUTTON -->
                        <div id="eskimo-menu-toggle">MENU</div>
                        <!-- MENU -->
                        <nav id="eskimo-main-menu" class="menu-main-menu-container">
                            <ul class="eskimo-menu-ul">
                                <li>
                                    <a href="/index/Index/index">首页</a>
                                </li>
                                <li>
                                    <a href="{:url('/index/Article/toArtList?page=0')}">日记</a>
                                </li>
                                <li>
                                    <a href="/index/Article/toAddition">分享</a>
                                </li>
                                <li>
                                    <a href="/index/Person/toMine">修改资料</a>
                                </li>

                                <li>
                                    <a href="/index/Index/adminLogin">管理入口</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- SOCIAL MEDIA ICONS -->
                    <div id="eskimo-social-cell" class="mt-auto w-100">
                        <div id="eskimo-social-inner">
                            <ul class="eskimo-social-icons">
                                {if condition="empty($Request.cookie.nickname) eq true"}
                                <li><a href='/index/Index/toLogin'>登录</a></li>
                                <li><a style="color: #FFFFFF">/</a></li>
                                <li><a href='/index/Index/toReg'>注册</a></li>
                                {/if}
                                {if condition="empty($Request.cookie.nickname) neq true"}
                                <li><a href='/index/Index/toOut'>{$Request.cookie.nickname}注销</a></li>
                                {/if}

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <p>
                        <label>标题</label><br/>
                        <input type="text" name="title" id="title" class="form-control" required="required"
                               maxlength="50"/>
                    </p>
                    <p>
                        <label>封面</label>
                    <div id="drop_area"></div>
                    </p>
                </div>
            </div>
            <br>
            <div>
                <textarea id="summernote" name="editordata"></textarea>
                <br>
                <div class="col-12 col-lg-6">
                    <button id="submit" type="submit" class="btn btn-lg w-100">发布</button>
                </div>
            </div>

        </div>
    </main>
</div>
<!-- GO TO TOP BUTTON -->
<a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- SLIDE PANEL OVERLAY -->
<div id="eskimo-overlay"></div>

<!-- JS FILES -->
<script src="/common/js/jquery-3.3.1.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/common/js/salvattore.min.js"></script>
<script src="/common/js/slick.min.js"></script>
<script src="/common/js/panel.js"></script>
<script src="/common/js/reading-position-indicator.js"></script>
<script src="/common/js/custom.js"></script>
<script src="/static/summernote/summernote-lite.js"></script>
<!--photo upload-->
<script src="/common/js/upload.js"></script>
<!-- POST SLIDER -->
<script>
    (function ($) {
        "use strict";
        $(document).ready(function () {
            $('#eskimo-post-slider').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                slidesToScroll: 1,
                adaptiveHeight: true,
                slidesToShow: 1,
                arrows: true,
                dots: false,
                fade: true
            });
        });
        $(window).on('load', function () {
            $('#eskimo-post-slider').css('opacity', '1');
            $('#eskimo-post-slider').parent().removeClass('eskimo-bg-loader');
        });
    })(jQuery);
</script>
<!-- POST CAROUSEL -->
<script>
    (function ($) {
        "use strict";
        $(document).ready(function () {
            $('#eskimo-post-carousel').slick({
                infinite: false,
                slidesToScroll: 1,
                arrows: true,
                dots: false,
                slidesToShow: 3,
                responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }]

            });
            $('#eskimo-post-carousel').css('opacity', '1');
        });
    })(jQuery);
</script>

<script type="text/javascript">
    $(function () {
        let file;
        $(document).ready(function () {
            //富文本编辑器设置
            $('#summernote').summernote({
                lang: 'zh-CN',
                height: 500
            })
        });

        //封面上传组件
        new DragImgUpload("#drop_area", {
            callback: function (files) {
                file = files;
            }
        }, "/common/image/upload.png");

        //点击提交按钮
        $("#submit").click(function () {
            $("#submit").css({'background-color': 'gray'});
            $("#submit").attr("disabled", true);
            let code = $('#summernote').summernote('code');
            let title = $('#title').val(); //标题
            if (title == '') {
                alert("标题不可为空");
                return;
            }
            let data = {title: title, code: code, file: file};
            console.log(data);
            $.ajax({
                url: "/index/Article/addition",
                type: 'post',
                data: data,
                success: function (result) {
                    console.log(result);
                    if (result.code == 1) {
                        alert('上传成功，等待管理员审核');
                        location.href = '/index/Article/toAddition';
                    }
                },
                error: function (re) {
                    console.log(re);
                }
            });
        });

        //获取搜索框输入值
        $("#search").click(function () {
            let search = $('#searchText').val();
            console.log(search);
        });

    })
</script>
</body>

</html>