<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>豆蔻年华 EIGHTEEN</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="/common/css/rrssb.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="/index/Index/index">
                                <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li>
                                        <a href="/index/Index/index">首页</a>
                                    </li>
                                    <li>
                                        <a href="{:url('/index/Article/toArtList?page=0')}">日记</a>
                                    </li>
                                    <li>
                                        <a href="/index/Article/toAddition">分享</a>
                                    </li>
                                    <li>
                                        <a href="/index/Person/toMine">修改资料</a>
                                    </li>

                                    <li>
                                        <a href="/index/Index/adminLogin">管理入口</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                        <div id="eskimo-social-inner">
                            <ul class="eskimo-social-icons">
                               {if condition="empty($Request.cookie.nickname) eq true"}
                                <li><a href='/index/Index/toLogin'>登录</a></li>
                                <li><a style="color: #FFFFFF">/</a></li>
                                <li><a href='/index/Index/toReg'>注册</a></li>
                                {/if}
                                {if condition="empty($Request.cookie.nickname) neq true"}
                                <li><a href='/index/Index/toOut'>{$Request.cookie.nickname}注销</a></li>
                                {/if}

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- TOP ICONS -->
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#eskimo-panel" class="eskimo-panel-open">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><span>{$article.title}</span></h1>
                    <div class="eskimo-page-title-meta">
                        <div class="eskimo-author-meta">
                            By <a class="author-meta" href="{:url('/index/Person/toOther?id='.$customer['id'])}">{$customer.nick_name}</a>
                        </div>
                        <div class="eskimo-date-meta">{$article.issuing_time}</div>
                        <div id="onloadI" onclick="onloadCollect({$article['id']},{$article['collect']})">
                            {if condition="$article.collect eq 2"}
                            <a href="#" class="eskimo-reading-meta">
                                <i class="fa fa-heart-o"></i>
                            </a>
                            {else /}
                            <a href="#" class="eskimo-reading-meta">
                                <i class="fa fa-heart"></i>
                            </a>
                            {/if}
                        </div>
                        <div id="uploadI" style="display:none" onclick="uploadCollect({$article['id']})">
                            <a href="#" id="{$article.id}i1" class="eskimo-reading-meta">
                                <i class="fa fa-heart-o"></i>
                            </a>
                            <a href="#" id="{$article.id}i2" class="eskimo-reading-meta">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- FEATURED IMAGE -->
                <div class="eskimo-featured-img">
                    <img src="{$image}" alt="" />
                </div>
                <!-- POST CONTENT -->
                <div class="eskimo-page-content">
                    {$content}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </main>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->
    <div id="eskimo-panels">
        <aside id="eskimo-panel" class="eskimo-panel">
            <!--{if condition="empty($Request.cookie.nickname) eq false"}-->
            {if condition="empty($user) neq true"}
            <div class="eskimo-panel-inner">
                <!-- CLOSE SLIDE PANEL BUTTON -->
                <a href="#" class="eskimo-panel-close"><i class="fa fa-times"></i></a>
                <!-- AUTHOR BOX -->
                <div class="eskimo-author-box eskimo-widget">
                    <div class="eskimo-author-img">
                        <img src="{$user.photo}" alt="{$user.nick_name}"/>
                    </div>
                    <h3><span>{$user.nick_name}</span></h3>
                    <p class="eskimo-author-description">{$user.signature}</p>
                    <div class="eskimo-author-box-btn">
                        <a class="btn btn-default" href="/index/Person/toMine">修改资料</a>
                    </div>
                </div>
                <!-- SELF POSTS -->
                <div class="eskimo-recent-entries eskimo-widget">
                    <h5 class="eskimo-title-with-border">
                        <a href="{:url('/index/Person/toMineArtList?page=0')}">个人豆蔻</a>

                    </h5>
                    <ul>
                        {notempty name="userArt"}
                        {volist name="userArt" id="item"}
                        <li>
                            <a href="{:url('/index/Article/toArticle?id='.$item['id'])}">{$item.title}</a>
                            <span class="post-date">{$item.issuing_time}</span>
                        </li>
                        {/volist}
                        {/notempty}
                    </ul>
                </div>

                <!-- LOVE POSTS -->
                <div class="eskimo-recent-entries eskimo-widget">
                    <h5 class="eskimo-title-with-border">
                        <a href="{:url('/index/Person/toLikeArtList?page=0')}">收藏豆蔻</a>
                    </h5>
                    <ul>
                        {notempty name="userCollect"}
                        {volist name="userCollect" id="item"}
                        <li>
                            <a href="{:url('/index/Article/toArticle?id='.$item['id'])}">{$item.title}</a>
                            <span class="post-date">{$item.issuing_time}</span>
                        </li>
                        {/volist}
                        {/notempty}
                    </ul>
                </div>
            </div>
            {/if}
            {if condition="empty($Request.cookie.nickname) eq true"}
            <div class="eskimo-panel-inner">
                <!-- CLOSE SLIDE PANEL BUTTON -->
                <a href="#" class="eskimo-panel-close"><i class="fa fa-times"></i></a>
                <!-- AUTHOR BOX -->
                <div class="eskimo-author-box eskimo-widget">
                    <div class="eskimo-author-img">
                        <img src="/common/uploads/2018/05/img.jpg" alt="JOHN DOE"/>
                    </div>
                    <h3><span>请先登录</span></h3>
                    <p class="eskimo-author-description"></p>
                    <div class="eskimo-author-box-btn">
                        <a class="btn btn-default" href="/index/Index/toLogin">去登陆</a>
                    </div>
                </div>
            </div>
            {/if}
        </aside>
    </div>
    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <div  class="eskimo-lg-form" style="width: 600px">
                <div class="input-group">
                    <input type="text" id="searchText" class="form-control form-control-lg" placeholder="关键字" name="s"/>
                    <div class="input-group-append">
                        <button id="search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS FILES -->
    <script src="/common/js/jquery-3.3.1.min.js"></script>
    <script src="/common/js/bootstrap.min.js"></script>
    <script src="/common/js/salvattore.min.js"></script>
    <script src="/common/js/panel.js"></script>
    <script src="/common/js/reading-position-indicator.js"></script>
    <script src="/common/js/rrssb.min.js"></script>
    <script src="/common/js/featherlight.js"></script>
    <script src="/common/js/custom.js"></script>
    <script type="text/javascript">
        $(function () {
            //获取搜索框输入值
            $("#search").click(function () {
                let search = $('#searchText').val();
                console.log(search);
                location.href = "{:url('/index/Article/searchArtList?type=1&page=0&conditions=')}" + search;
            });
        });
        function onloadCollect(id, collect) {
            console.log(id);
            if (collect == 2) {
                $.ajax({
                    url: '/index/Article/collectArt',
                    data: {id: id},
                    type: 'post',
                    success:function (res) {
                        alert("收藏" + res);
                        document.getElementById("onloadI").style.display = "none";
                        document.getElementById("uploadI").style.display = "block";
                        document.getElementById(id + "i1").style.display = "none";
                        document.getElementById(id + "i2").style.display = "block";
                    }
                })
            } else {
                $.ajax({
                    url: '/index/Article/cancelCollectArt',
                    data: {id: id},
                    type: 'post',
                    success:function (res) {
                        alert("取消收藏" + res);
                        document.getElementById("onloadI").style.display = "none";
                        document.getElementById("uploadI").style.display = "block";
                        document.getElementById(id + "i1").style.display = "block";
                        document.getElementById(id + "i2").style.display = "none";
                    }
                })
            }
        }

        function uploadCollect(id) {
            console.log(id);
            var collect = $("#" + id + "i1").css("display");
            console.log(collect);
            if (collect == 'none') {
                $.ajax({
                    url: '/index/Article/cancelCollectArt',
                    data: {id: id},
                    type: 'post',
                    success:function (res) {
                        alert("取消收藏" + res);
                        document.getElementById(id + "i1").style.display = "block";
                        document.getElementById(id + "i2").style.display = "none";
                    }
                })
            } else {
                $.ajax({
                    url: '/index/Article/collectArt',
                    data: {id: id},
                    type: 'post',
                    success:function (res) {
                        alert("收藏" + res);
                        document.getElementById(id + "i1").style.display = "none";
                        document.getElementById(id + "i2").style.display = "block";
                    }
                })
            }
        }
    </script>
</body>

</html>