<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- READING POSITION INDICATOR -->
<progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
</progress>
<!-- SITE WRAPPER -->
<div id="eskimo-site-wrapper">
    <!-- MAIN CONTAINER -->
    <main id="eskimo-main-container">
        <div class="container">
            <!-- SIDEBAR -->
            <div id="eskimo-sidebar">
                <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                    <!-- LOGO -->
                    <div id="eskimo-logo-cell" class="w-100">
                        <a class="eskimo-logo-link" href="/index/Index/index">
                            <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo"/>
                        </a>
                    </div>
                    <!-- MENU CONTAINER -->
                    <div id="eskimo-sidebar-cell" class="w-100">
                        <!-- MOBILE MENU BUTTON -->
                        <div id="eskimo-menu-toggle">MENU</div>
                        <!-- MENU -->
                        <nav id="eskimo-main-menu" class="menu-main-menu-container">
                            <ul class="eskimo-menu-ul">
                                <li>
                                    <a href="/index/Index/index">首页</a>
                                </li>
                                <li>
                                    <a href='/index/Index/toArtList'>日记</a>
                                </li>
                                <li>
                                    <a href="/index/Index/toAddition">分享</a>
                                </li>
                                <li>
                                    <a href="/index/Index/toMine">修改资料</a>
                                </li>

                                <li>
                                    <a href="/index/Index/adminLogin">管理入口</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- SOCIAL MEDIA ICONS -->
                    <div id="eskimo-social-cell" class="mt-auto w-100">
                        <div id="eskimo-social-inner">
                            <ul class="eskimo-social-icons">
                                <li><a href='/index/Index/toLogin'>登录</a></li>
                                <li><a style="color: #FFFFFF">/</a></li>
                                <li><a href='/index/Index/toReg'>注册</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- PAGE TITLE -->
            <div class="eskimo-page-title">
                <h1 class="no-border">审核列表</h1>
            </div>
            <!-- BLOG POSTS -->
            <div class="eskimo-masonry-grid small-masonry">
                <div class="eskimo-three-columns" data-columns>
                    <!-- POST 1 -->
                    {notempty name="audit"}
                    {volist name="audit" id="item"}
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="{:url('/index/Admin/toAuditArt?id='.$item['id'])}">
                                <img class="card-vertical-img"
                                     src="https://47-1256569009.cos-website.ap-chengdu.myqcloud.com/{$item.cover}"
                                     alt="Ketchup Flavored Ice Cream!"/>
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="{:url('/index/Admin/toAuditArt?id='.$item['id'])}">{$item.issuing_time}</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="{:url('/index/Admin/toAuditArt?id='.$item['id'])}">{$item.title}</a>
                                    </h5>
                                    <div class="card-category">
                                        <div id="{$item.id}i1" onclick="checkId({$item['id']})">
                                            <i class="fa fa-square-o"></i>
                                        </div>
                                        <div id="{$item.id}i2" style="display:none" onclick="rejectId({$item['id']})">
                                            <i class="fa fa-check-square-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/volist}
                    {/notempty}
                </div>
            </div>
            <div class="eskimo-page-content">
                <div class="clearfix"></div>

                <p>
                <div id="pass" class="btn btn-success">通过选中的</div>
                <div id="reject" class="btn btn-danger">驳回选中的</div>
                </p>
            </div>
            <!-- PAGINATION -->
            <div class="eskimo-pager">
                <ul class='pagination flex-wrap'>
                    <li class='page-item active'><a class='page-link' href='#'>1</a></li>
                    <li class='page-item'><a class='page-link' href='#'>2</a></li>
                    <li class='page-item'><a class='page-link' href='#'>3</a></li>
                    <li class='page-item'><a class='page-link' href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </main>
</div>
<!-- GO TO TOP BUTTON -->
<a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- SLIDE PANEL OVERLAY -->
<div id="eskimo-overlay"></div>
<!-- JS FILES -->
<script src="/common/js/jquery-3.3.1.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/common/js/salvattore.min.js"></script>
<script src="/common/js/panel.js"></script>
<script src="/common/js/reading-position-indicator.js"></script>
<script src="/common/js/custom.js"></script>
<script type="text/javascript">
    let Id = [];
    $(function () {
        //获取搜索框输入值
        $("#search").click(function () {
            let search = $('#searchText').val();
            console.log(search);
        });

        $("#reject").click(function () {
            console.log(Id);
            $.ajax({
                url: '/index/Admin/rejectList',
                type: 'post',
                data: {listId: Id},
                success: function (res) {
                    alert(res);
                }
            })
        });

        $("#pass").click(function () {
            console.log(Id);
            $.ajax({
                url: '/index/Admin/passList',
                type: 'post',
                data: {listId: Id},
                success: function (res) {
                    alert(res);
                }
            })
        })
    });

    function checkId(id) {
        Id.push(id);
        document.getElementById(id + "i1").style.display = "none";
        document.getElementById(id + "i2").style.display = "block";
    }

    function rejectId(id) {
        Id.splice($.inArray(id, Id), 1);
        document.getElementById(id + "i1").style.display = "block";
        document.getElementById(id + "i2").style.display = "none";
    }


</script>
</body>

</html>
