<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="/common/css/rrssb.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- READING POSITION INDICATOR -->
<progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
</progress>
<!-- SITE WRAPPER -->
<div id="eskimo-site-wrapper">
    <!-- MAIN CONTAINER -->
    <main id="eskimo-main-container">
        <div class="container">
            <!-- SIDEBAR -->
            <div id="eskimo-sidebar">
                <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                    <!-- LOGO -->
                    <div id="eskimo-logo-cell" class="w-100">
                        <a class="eskimo-logo-link" href="/index/Index/index">
                            <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo" />
                        </a>
                    </div>
                    <!-- MENU CONTAINER -->
                    <div id="eskimo-sidebar-cell" class="w-100">
                        <!-- MOBILE MENU BUTTON -->
                        <div id="eskimo-menu-toggle">MENU</div>
                        <!-- MENU -->
                        <nav id="eskimo-main-menu" class="menu-main-menu-container">
                            <ul class="eskimo-menu-ul">
                                {if condition="empty($Request.cookie.adminName) neq true"}
                                <li><a href='/index/Index/toAdminOut'>退出管理员登录</a></li>
                                {/if}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <!-- PAGE TITLE -->
            <div class="eskimo-page-title">
                <h1><span>{$article.title}</span></h1>
                <div class="eskimo-page-title-meta">
                    <div class="eskimo-author-meta">
                        By <div class="author-meta">{$customer.nick_name}</div>
                    </div>
                    <div class="eskimo-date-meta">{$article.issuing_time}</div>
                </div>
            </div>
            <!-- FEATURED IMAGE -->
            <div class="eskimo-featured-img">
                <img src="{$article.cover}" alt="{$article.title}" />
            </div>
            <!-- POST CONTENT -->
            <div class="eskimo-page-content">
                {$content}
                <div class="clearfix"></div>

                <p>
                    <div id="pass" onclick="passArt({$article['id']})" class="btn btn-success">通过</div>
                    <div id="reject" onclick="rejectArt({$article['id']})" class="btn btn-danger">驳回</div>
                </p>

            </div>
            <div class="clearfix"></div>
            <hr />
        </div>
    </main>
</div>
<!-- GO TO TOP BUTTON -->
<a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- SLIDE PANEL OVERLAY -->
<div id="eskimo-overlay"></div>
<!-- JS FILES -->
<script src="/common/js/jquery-3.3.1.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/common/js/salvattore.min.js"></script>
<script src="/common/js/panel.js"></script>
<script src="/common/js/reading-position-indicator.js"></script>
<script src="/common/js/rrssb.min.js"></script>
<script src="/common/js/featherlight.js"></script>
<script src="/common/js/custom.js"></script>
<script type="text/javascript">
    $(function () {

    });
    function passArt(Id) {
        $.ajax({
            url: '/index/Admin/passArt',
            data: {id: Id},
            type: 'post',
            success: function (res) {
                console.log(res);
                alert('操作成功');
                $("#pass").css({'background-color' : 'gray'});
                $("#pass").attr("disabled", true);
                $("#reject").css({'background-color' : 'gray'});
                $("#reject").attr("disabled", true);
            }
        })
    }
    function rejectArt(Id) {
        $.ajax({
            url: '/index/Admin/rejectArt',
            data: {id: Id},
            type: 'post',
            success: function (res) {
                console.log(res);
                alert('操作成功');
                $("#pass").css({'background-color' : 'gray'});
                $("#pass").attr("disabled", true);
                $("#reject").css({'background-color' : 'gray'});
                $("#reject").attr("disabled", true);
            }
        })
    }
</script>
</body>

</html>