<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/featherlight.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="/index/Index/index">
                                <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li>
                                        <a href="index/Index/index">首页</a>
                                    </li>
                                    <li>
                                        <a href='/index/Index/toArtList'>日记</a>
                                    </li>
                                    <li>
                                        <a href="/index/Index/toAddition">分享</a>
                                    </li>
                                    <li>
                                        <a href="/index/Index/toMine">修改资料</a>
                                    </li>

                                    <li>
                                        <a href="/index/Index/adminLogin">管理入口</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                            <div id="eskimo-social-inner">
                                <ul class="eskimo-social-icons">
                                    <li><a href='/index/Index/toLogin'>登录</a></li>
                                    <li><a style="color: #FFFFFF">/</a></li>
                                    <li><a href='/index/Index/toReg'>注册</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="eskimo-top-icons">
                    <li id="eskimo-panel-icon">
                        <a href="#eskimo-panel" class="eskimo-panel-open"><i class="fa fa-bars"></i></a>
                    </li>
                    <li id="eskimo-search-icon">
                        <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <!-- DIVIDER -->
                <h2>修改豆蔻资料</h2>
                <!-- CONTACT FORM -->
                <div id="mine-form">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <p>
                                <label>用户名</label><br />
                                <input type="text" name="nickname" id="nickname" class="form-control" required="required" maxlength="50" value={$user.nick_name}/>
                            </p>
                            <p>
                                <label>密码</label><br />
                                <input type="password" name="pwd" id="pwd" class="form-control" required="required" maxlength="50" value={$user.pwd}/>
                            </p>
                            <p>
                                <label>个性语</label><br />
                                <input type="text" name="signature" id="signature" class="form-control" maxlength="50" value={$user.signature}/>
                            </p>
                            <button id="submit" type="submit" class="btn btn-lg w-100">上传修改</button>
                        </div>

                        <div class="col-12 col-lg-4 order-1 order-lg-2 mb-5 mb-lg-0">
                            点击图像上传头像
                            <div id="drop_area"></div>
                        </div>
                    </div>
                </div>
                <!-- DIVIDER -->
            </div>
        </main>
    </div>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
    <!-- SLIDE PANEL -->
    <div id="eskimo-panels">
        <aside id="eskimo-panel" class="eskimo-panel">
            <div class="eskimo-panel-inner">
                <!-- CLOSE SLIDE PANEL BUTTON -->
                <a href="#" class="eskimo-panel-close"><i class="fa fa-times"></i></a>
                <!-- AUTHOR BOX -->
                <div class="eskimo-author-box eskimo-widget">
                    <div class="eskimo-author-img">
                        <img src="/common/uploads/2018/05/img.jpg" alt="JOHN DOE" />
                    </div>
                    <h3><span>{$user.nick_name}</span></h3>
                    <p class="eskimo-author-description">{$user.signature}</p>
                    <div class="eskimo-author-box-btn">
                        <a class="btn btn-default" href="/index/Index/toMine">修改资料</a>
                    </div>
                </div>
                <!-- SELF POSTS -->
                <div class="eskimo-recent-entries eskimo-widget">
                    <h5 class="eskimo-title-with-border"><a href="/index/Index/toMineArtList">个人豆蔻</a></h5>
                    <ul>
                        <li>
                            <a href="/index/Index/toArticle">Ketchup Flavored Ice Cream!</a>
                            <span class="post-date">May 28, 2018</span>
                        </li>
                        <li>
                            <a href="/index/Index/toArticle">Hair You've Always Dreamed Of</a>
                            <span class="post-date">May 27, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">15 Of The World's Best Carnivals</a>
                            <span class="post-date">May 25, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>
                            <span class="post-date">May 25, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">Best Breakfast In The World</a>
                            <span class="post-date">May 23, 2018</span>
                        </li>
                    </ul>
                </div>

                <!-- LOVE POSTS -->
                <div class="eskimo-recent-entries eskimo-widget">
                    <h5 class="eskimo-title-with-border"><a href="/index/Index/toLikeArtList">收藏豆蔻</a></h5>
                    <ul>
                        <li>
                            <a href="single-post.html">Ketchup Flavored Ice Cream!</a>
                            <span class="post-date">May 28, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">Hair You've Always Dreamed Of</a>
                            <span class="post-date">May 27, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">15 Of The World's Best Carnivals</a>
                            <span class="post-date">May 25, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>
                            <span class="post-date">May 25, 2018</span>
                        </li>
                        <li>
                            <a href="single-post.html">Best Breakfast In The World</a>
                            <span class="post-date">May 23, 2018</span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="search.html" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" id="searchText" class="form-control form-control-lg" placeholder="关键字" name="s" />
                    <div class="input-group-append">
                        <button id="search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- JS FILES -->
    <script src="/common/js/jquery-3.3.1.min.js"></script>
    <script src="/common/js/bootstrap.min.js"></script>
    <script src="/common/js/salvattore.min.js"></script>
    <script src="/common/js/panel.js"></script>
    <script src="/common/js/reading-position-indicator.js"></script>
    <script src="/common/js/featherlight.js"></script>
    <script src="/common/js/ajax-contact-form.js"></script>
    <script src="/common/js/custom.js"></script>
    <!--photo upload-->
    <script src="/common/js/upload.js"></script>
    <script type="text/javascript">
        $(function () {
            let file;
            new DragImgUpload("#drop_area",{
                callback:function (files) {
                    file = files;
                }
            },"/common/uploads/2018/05/img2.jpg");

            //点击提交按钮
            $("#submit").click(function () {
                let nickname = $('#nickname').val(); //标题
                let pwd = $('#pwd').val(); //密码
                let signature = $('#signature').val(); //个性签名
                if (!file) {
                    file = 0
                }
                var data = {
                    nickname: nickname,
                    password: pwd,
                    signature: signature,
                    file: file
                };
                console.log(data);
                $.ajax({
                    url: "/index/Person/setPerson",
                    type: 'post',
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.msg == "success") {
                            alert("修改成功！");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            })

            //获取搜索框输入值
            $("#search").click(function () {
                let search = $('#searchText').val();
                console.log(search);
            })
        })
    </script>
</body>

</html>