<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Eskimo - HTML Template</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/common/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/common/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- READING POSITION INDICATOR -->
<progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
</progress>
<!-- SITE WRAPPER -->
<div id="eskimo-site-wrapper">
    <!-- MAIN CONTAINER -->
    <main id="eskimo-main-container">
        <div class="container">
            <!-- SIDEBAR -->
            <div id="eskimo-sidebar">
                <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                    <!-- LOGO -->
                    <div id="eskimo-logo-cell" class="w-100">
                        <a class="eskimo-logo-link" href="index.html">
                            <img src="/common/image/logo.png" class="eskimo-logo" alt="eskimo" />
                        </a>
                    </div>
                    <!-- MENU CONTAINER -->
                    <div id="eskimo-sidebar-cell" class="w-100">
                        <!-- MOBILE MENU BUTTON -->
                        <div id="eskimo-menu-toggle">MENU</div>
                        <!-- MENU -->
                        <nav id="eskimo-main-menu" class="menu-main-menu-container">
                            <ul class="eskimo-menu-ul">
                                <li>
                                    <a href="/index/index/index">首页</a>
                                </li>
                                <li>
                                    <a href='/index/Index/toArtList'>日记</a>
                                </li>
                                <li>
                                    <a href="/index/Index/toAddition">分享</a>
                                </li>
                                <li><a href="/index/Index/toMine">我的</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- SOCIAL MEDIA ICONS -->
                    <div id="eskimo-social-cell" class="mt-auto w-100">
                        <div id="eskimo-social-inner">
                            <ul class="eskimo-social-icons">
                                <li><a href='/index/Index/toLogin'>登录</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TOP ICONS -->
            <ul class="eskimo-top-icons">
                <li id="eskimo-panel-icon">
                    <a href="#eskimo-panel" class="eskimo-panel-open"><i class="fa fa-bars"></i></a>
                </li>
                <li id="eskimo-search-icon">
                    <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <!-- PAGE TITLE -->
            <div class="eskimo-page-title">
                <h1 class="no-border">收藏豆蔻</h1>
            </div>
            <!-- BLOG POSTS -->
            <div class="eskimo-masonry-grid small-masonry">
                <div class="eskimo-three-columns" data-columns>
                    <!-- POST 1 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog4-1-900x600.jpg" alt="Ketchup Flavored Ice Cream!" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 28, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">Ketchup Flavored Ice Cream!</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 2 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog1-900x600.jpg" alt="Hair You've Always Dreamed Of" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 27, 2018</a>
                                    </div>
                                    <h5 class="card-title"><a href="single-post.html">Hair You've Always Dreamed Of</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 3 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog-900x600.jpg" alt="15 Of The World's Best Carnivals" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 25, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">15 Of The World's Best Carnivals</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 4 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog19-900x600.jpg" alt="5 Ways to a Healthy Lifestyle" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 25, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 5 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog5-900x600.jpg" alt="Best Breakfast In The World" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 23, 2018</a>
                                    </div>
                                    <h5 class="card-title"><a href="single-post.html">Best Breakfast In The World</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 6 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog18-900x600.jpg" alt="Best and Worst Summer Foods" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 22, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">Best and Worst Summer Foods</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 7 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog7-900x600.jpg" alt="What Is Perfect Training?" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 21, 2018</a>
                                    </div>
                                    <h5 class="card-title"><a href="single-post.html">What Is Perfect Training?</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 8 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog17-900x600.jpg" alt="The Best Cameras For Beginners" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 20, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">The Best Cameras For Beginners</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 9 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog12-900x600.jpg" alt="The 20 Creepiest Clowns in Movies" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 20, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">The 20 Creepiest Clowns in Movies</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 10 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog11-900x600.jpg" alt="The Best Places To Travel" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 20, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">The Best Places To Travel</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 11 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog8-900x600.jpg" alt="Eyes Wide Shut Is A Classic" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 19, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">Eyes Wide Shut Is A Classic</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- POST 12 -->
                    <div class="card-masonry card-small">
                        <div class="card">
                            <a href="single-post.html">
                                <img class="card-vertical-img" src="/common/uploads/2018/05/blog6-900x600.jpg" alt="Headphones For Music Lovers" />
                            </a>
                            <div class="card-border">
                                <div class="card-body">
                                    <div class="card-category">
                                        <a href="single-post.html">May 19, 2018</a>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="single-post.html">Headphones For Music Lovers</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGINATION -->
            <div class="eskimo-pager">
                <ul class='pagination flex-wrap'>
                    <li class='page-item active'><a class='page-link' href='#'>1</a></li>
                    <li class='page-item'><a class='page-link' href='#'>2</a></li>
                    <li class='page-item'><a class='page-link' href='#'>3</a></li>
                    <li class='page-item'><a class='page-link' href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </main>
</div>
<!-- GO TO TOP BUTTON -->
<a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- SLIDE PANEL OVERLAY -->
<div id="eskimo-overlay"></div>
<!-- SLIDE PANEL -->
<div id="eskimo-panels">
    <aside id="eskimo-panel" class="eskimo-panel">
        <div class="eskimo-panel-inner">
            <!-- CLOSE SLIDE PANEL BUTTON -->
            <a href="#" class="eskimo-panel-close"><i class="fa fa-times"></i></a>
            <!-- AUTHOR BOX -->
            <div class="eskimo-author-box eskimo-widget">
                <div class="eskimo-author-img">
                    <img src="/common/uploads/2018/05/img.jpg" alt="JOHN DOE" />
                </div>
                <h3><span>无心人</span></h3>
                <p class="eskimo-author-description">questions!</p>
                <div class="eskimo-author-box-btn">
                    <a class="btn btn-default" href="about.html">CONTACT ME</a>
                </div>
            </div>
            <!-- SELF POSTS -->
            <div class="eskimo-recent-entries eskimo-widget">
                <h5 class="eskimo-title-with-border"><a href="blog-3-column.html">个人豆蔻</a></h5>
                <ul>
                    <li>
                        <a href="single-post.html">Ketchup Flavored Ice Cream!</a>
                        <span class="post-date">May 28, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">Hair You've Always Dreamed Of</a>
                        <span class="post-date">May 27, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">15 Of The World's Best Carnivals</a>
                        <span class="post-date">May 25, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>
                        <span class="post-date">May 25, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">Best Breakfast In The World</a>
                        <span class="post-date">May 23, 2018</span>
                    </li>
                </ul>
            </div>

            <!-- LOVE POSTS -->
            <div class="eskimo-recent-entries eskimo-widget">
                <h5 class="eskimo-title-with-border"><a href="blog-3-column.html">收藏豆蔻</a></h5>
                <ul>
                    <li>
                        <a href="single-post.html">Ketchup Flavored Ice Cream!</a>
                        <span class="post-date">May 28, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">Hair You've Always Dreamed Of</a>
                        <span class="post-date">May 27, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">15 Of The World's Best Carnivals</a>
                        <span class="post-date">May 25, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>
                        <span class="post-date">May 25, 2018</span>
                    </li>
                    <li>
                        <a href="single-post.html">Best Breakfast In The World</a>
                        <span class="post-date">May 23, 2018</span>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>
<!-- FULLSCREEN SEARCH -->
<div id="eskimo-fullscreen-search">
    <div id="eskimo-fullscreen-search-content">
        <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
        <form role="search" method="get" action="search.html" class="eskimo-lg-form">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- JS FILES -->
<script src="/common/js/jquery-3.3.1.min.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/common/js/salvattore.min.js"></script>
<script src="/common/js/panel.js"></script>
<script src="/common/js/reading-position-indicator.js"></script>
<script src="/common/js/custom.js"></script>
</body>

</html>
